body{
    background-color: black;
     color: white;
}


customImge{
    width:50%;
}

.logo-img {
  max-width: 250px;
  margin-top: 4px;
  text-align:left;
}

.imgColosel{
  width: 100%;
  height: 250px;
}
